$btn-letter-spacing: 0;
$btn-border-radius: 12px;
$btn-text-transform: none;
$font-size-root: 16px;
$btn-outline-border-width: 2px;
$headings: (
    "h1": (
        "size": 3rem,
        "letter-spacing": 0,
        "line-height": 3rem,
        "weight": 400
    ),
    "h2": (
        "size": 2rem,
        "letter-spacing": 0,
        "line-height": 2.5rem,
        "weight": 400
    ),
    "h3": (
        "size": 1.5rem,
        "letter-spacing": 0,
        "line-height": 2rem,
        "weight": 400
    ),
    "h4": (
        "size": 1.25rem,
        "letter-spacing": 0,
        "line-height": 1.5rem,
        "weight": 400
    ),
    "h5": (
        "size": 1.125rem,
        "letter-spacing": 0,
        "line-height": 1.5rem,
        "weight": 400
    ),
    "subtitle-1": (
        "size": 1rem,
        "letter-spacing": 0,
        "line-height": 1.375rem,
        "weight": 400
    ),
    "subtitle-2": (
        "size": 0.875rem,
        "letter-spacing": 0,
        "line-height": 1.125rem,
        "weight": 400
    ),
    "body-2": (
        "size": 0.8125rem,
        "letter-spacing": 0,
        "line-height": 1rem,
        "weight": 400
    ),
    "body-1": (
        "size": 0.75rem,
        "letter-spacing": 0,
        "line-height": 1rem,
        "weight": 400
    ),
    "caption": (
        "size": 0.6875rem,
        "letter-spacing": 0,
        "line-height": 0.875rem,
        "weight": 400
    ),
    "overline": (
        "size": 0.5625rem,
        "letter-spacing": 0,
        "line-height": 0.75rem,
        "weight": 400,
        "text-transform": none
    )
);
