@font-face {
    font-family: 'MabryPro';
    src: url('../fonts/MabryPro-Regular.eot') format(eot),
    url('../fonts/MabryPro-Regular.ttf') format(ttf),
    url('../fonts/MabryPro-Regular.woff') format(woff),
    url('../fonts/MabryPro-Regular.woff2') format(woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'MabryPro';
    src: url('../fonts/MabryPro-Medium.eot') format(eot),
    url('../fonts/MabryPro-Medium.ttf') format(ttf),
    url('../fonts/MabryPro-Medium.woff') format(woff),
    url('../fonts/MabryPro-Medium.woff2') format(woff2);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'MabryPro';
    src: url('../fonts/MabryPro-Bold.eot') format(eot),
    url('../fonts/MabryPro-Bold.ttf') format(ttf),
    url('../fonts/MabryPro-Bold.woff') format(woff),
    url('../fonts/MabryPro-Bold.woff2') format(woff2);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'MabryPro';
    src: url('../fonts/MabryPro-Black.eot') format(eot),
    url('../fonts/MabryPro-Black.ttf') format(ttf),
    url('../fonts/MabryPro-Black.woff') format(woff),
    url('../fonts/MabryPro-Black.woff2') format(woff2);
    font-weight: 900;
    font-display: swap;
}