<template>
  <v-bottom-navigation height="64" class="bottom-navigation px-6">
    <router-link to="/"
      class="font-weight-regular d-flex flex-equal align-center justify-center text-decoration-none flex-column"
      :class="[$route.path === '/' && 'active-link-mob']">
      <v-img height="28" width="28" src="@/assets/icons/home.svg" class="flex-grow-0" />
      <p class="mb-0 white--text" style="font-size: 10px;line-height: 10px;">Главная</p>
    </router-link>
    <router-link to="/"
      class="font-weight-regular d-flex flex-equal align-center justify-center text-decoration-none flex-column">
      <v-img height="28" width="28" src="@/assets/icons/sales.svg" class="flex-grow-0" />
      <p class="mb-0 white--text" style="font-size: 10px;line-height: 10px;">Продажи</p>
    </router-link>
    <router-link to="/calculator"
      class="font-weight-regular d-flex flex-equal align-center justify-center text-decoration-none flex-column"
      :class="[$route.path === '/calculator' && 'active-link-mob']">
      <v-img height="28" width="28" src="@/assets/icons/cashregister.svg" class="flex-grow-0" />
      <p class="mb-0 white--text" style="font-size: 10px;line-height: 10px;">Касса</p>
    </router-link>
    <router-link to="/"
      class="font-weight-regular d-flex flex-equal align-center justify-center text-decoration-none flex-column">
      <v-img height="28" width="28" src="@/assets/icons/chat.svg" class="flex-grow-0" />
      <p class="mb-0 white--text" style="font-size: 10px;line-height: 10px;">Чат</p>
    </router-link>
    <router-link to="/"
      class="font-weight-regular d-flex flex-equal align-center justify-center text-decoration-none flex-column">
      <v-img height="28" width="28" src="@/assets/icons/settings.svg" class="flex-grow-0" />
      <p class="mb-0 white--text" style="font-size: 10px;line-height: 10px;">Настройки</p>
    </router-link>
  </v-bottom-navigation>
</template>
<style scoped>
.bottom-navigation {
  position: fixed;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 0px 30px 0px #26545D26;
  box-shadow: 0px 1px 1px 0px #FFFFFF33 inset;
  background: linear-gradient(180deg, #457984 0%, #356A75 100%);
  height: 64px;
}

.flex-equal {
  flex: 1 1 0;
}

.active-link-mob {
  background: #508793;
  box-shadow: 0px 1px 1px 0px #FFFFFF33 inset;
  position: relative;
  height: 68px;
  bottom: 5px;
  padding-bottom: 12px;
  justify-content: flex-end !important;
  border-radius: 10px 10px 0 0;
}
</style>