<template>
  <v-container class="py-0 d-md-flex mt-md-16 pt-md-4 px-lg-16 pb-10 flex-column flex-md-row flex-nowrap"
    :class="heightClass"
  > 
    <div id="upper-block" class="col-12 col-sm-8 ma-sm-auto ma-md-0 col-md-6 py-0 pl-lg-16 custom-flex h-fill-available">
      <div class="bg px-md-4 py-md-5 rounded-xl mb-8">
        <div class="d-flex gap justify-space-between">
          <v-dialog v-model="infoDialog" width="500">
            <template v-slot:activator="{ on }">
              <v-btn v-on="on" color="primary" icon min-width="fit-content" elevation="0" style="z-index: 999"
                class="rounded-lg py-1 px-2">
                <v-img v-if="!infoDialog" max-height="24" max-width="24" src="@/assets/icons/info.svg" />
                <v-img v-else max-height="24" max-width="24" src="@/assets/icons/closeInfo.svg" />
              </v-btn>
            </template>
            <v-card color="primary" rounded="xl" class="px-6 py-8">
              <v-card-title class="text-h6 pa-0 mb-1 font-weight-bold">
                Какой тип оплаты выбрать?
              </v-card-title>
              <v-card-text class="text--primary pa-0">
                Наличные, если оплата:
                наличными
                переводом
                Карта, если оплата:
                банковской картой
                через маркетплейс
                бесконтактным способом (Apple Pay, Google Pay, Samsung Pay)
                в рассрочку или кредит (уточните в вашем банке)
                Мобильный, если оплата:
                через QR-код
                через удалённую оплату (выставление счёта)
                При перечислении с одного расчётного счёта на другой (через платёжное поручение и прочее) чеки выбивать
                не нужно
              </v-card-text>
              <p class="text-center text-body-2 mb-0 mt-4">Остались вопрос? <br> Напишите в Службу поддержки</p>
            </v-card>
          </v-dialog>
          <div class="d-flex gap">
            <v-btn color="primary" elevation="0"
              class="rounded-lg flex-grow-1 text-md-h5 flex-shrink-0 text-capitalize text-body-2 py-2 px-4">
              Позиции
            </v-btn>

            <v-btn color="primary" elevation="0"
              class="rounded-lg flex-grow-1 text-md-h5 flex-shrink-0 text-capitalize text-body-2 py-2 px-4">
              Смена
            </v-btn>

            <v-btn color="primary" min-width="fit-content" elevation="0"
              class="rounded-lg flex-grow-1 flex-shrink-0 py-1 px-2">
              <v-img max-height="24" max-width="24" src="@/assets/icons/barcode.svg" />
            </v-btn>
          </div>
        </div>
        <div>
          <div class="gradient"></div>
          <div id="sum-block" class="text-h2 text-right text-md-h1 calculator-overflow mb-1 d-flex align-end">2 500+4 000+500+1
            350+32+5 423+5
            332+5 423+5
            532</div>
          <p class="text-right mb-5 text-subtitle-1 text-md-h3">3 754 560</p>
        </div>
      </div>
      <v-row class="mx-0 mb-4 gap mt-0 mb-md-0">
        <v-col class="pa-0">
          <v-btn height="fit-content" elevation="0" :color="cash ? 'info' : 'primary'" width="100%"
            to="/check-positions" class="rounded-lg flex-grow-1 flex-shrink-0 py-3 px-1 py-md-6">
            <div class="d-flex flex-column align-center">
              <v-img :width="iconSize" :height="iconSize" src="@/assets/icons/cash.svg" class="mb-md-3" />
              <p class="text-caption text-capitalize mt-1 mb-0 text-md-h5">Наличные</p>
            </div>
          </v-btn>
        </v-col>
        <v-col class="pa-0">
          <v-btn height="fit-content" elevation="0" color="primary" width="100%"
            class="rounded-lg flex-grow-1 flex-shrink-0 py-3 px-1 py-md-6">
            <div class="d-flex flex-column align-center">
              <v-img :width="iconSize" :height="iconSize" src="@/assets/icons/card.svg" class="mb-md-3" />
              <p class="text-caption text-capitalize mt-1 mb-0 text-md-h5">Карта</p>
            </div>
          </v-btn>
        </v-col>
        <v-col class="pa-0">
          <v-btn height="fit-content" elevation="0" color="primary" width="100%"
            class="rounded-lg flex-grow-1 flex-shrink-0 py-3 px-1 py-md-6">
            <div class="d-flex flex-column align-center">
              <v-img :width="iconSize" :height="iconSize" src="@/assets/icons/qr.png" class="mb-md-3" />
              <p class="text-caption text-capitalize mt-1 mb-0 text-md-h5">Мобильный</p>
            </div>
          </v-btn>
        </v-col>
      </v-row>
    </div>
    <div class="col-12 col-sm-8 ma-sm-auto ma-md-0 col-md-6 py-md-0 pr-lg-16 custom-flex">
      <div class="d-flex gap" style="height: 100%;">
        <v-col class="col-9 col-md-9 col-sm-10 pa-0 d-flex flex-column gap">
          <v-row class="gap ma-0">
            <v-col class="pa-0">
              <v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">7</v-btn>
            </v-col>
            <v-col class="pa-0">
              <v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">8</v-btn>
            </v-col>
            <v-col class="pa-0">
              <v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">9</v-btn>
            </v-col>
          </v-row>
          <v-row class="gap ma-0">
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">6</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">4</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">3</v-btn></v-col>
          </v-row>
          <v-row class="gap ma-0">
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">3</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">2</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">1</v-btn></v-col>
          </v-row>
          <v-row class="gap ma-0">
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">c</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">0</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-body-1 btn-glass-effect">
                <v-img max-height="19" max-width="29" src="@/assets/icons/subtract.svg" />
              </v-btn></v-col>
          </v-row>
        </v-col>
        <v-col class="col-3 col-md-3 col-sm-2 d-flex flex-column gap pa-0 flex-shrink-1">
          <v-btn color="primary" width="100%" elevation="0"
            class="rounded-lg flex-grow-1 flex-shrink-0 btn-glass-effect">
            <v-img max-width="19" max-height="19" src="@/assets/icons/plus.svg" />
          </v-btn>
          <v-btn color="#00E673" to="/preliminary-check" width="100%" elevation="0"
            class="rounded-lg flex-grow-1 flex-shrink-0 text-md-h3 btn-glass-effect text-subtitle-1 font-weight-bold">Далее</v-btn>
        </v-col>
      </div>
    </div>
  </v-container>
</template>
<script>
export default {
  name: 'CalculatorComponent',
  data: () => ({
    activeTab: 1,
    infoDialog: false,
    cash: true,
  }),
  computed: {
    iconSize() {
      return this.$vuetify.breakpoint.mdAndUp ? '50' : '32'
    },
    heightClass() {
      return this.$vuetify.breakpoint.smAndDown ? 'fill-height' : ''
    }
  },
  methods: {
    getSumBlockHeight(){
      const sumBlock = document.querySelector('#sum-block')
      const upperBlock = document.querySelector('#upper-block')
      const screenWidth = screen.width
      if(screenWidth < 960){
          const calcHeight = upperBlock.offsetHeight - 168
          sumBlock.setAttribute('style',`height:${calcHeight}px`)
          
      }
    }
  },
  mounted(){
    this.getSumBlockHeight()
  }
}
</script>
<style scoped>


.h-fill-available{
  height: -moz-available;         
  height: -webkit-fill-available;  
  height: fill-available;

  @media screen and (min-width: 960px) {
    height: auto;
  }
}



.custom-flex {
  flex: 0 1 auto !important;
}

.bg {
  position: relative;

  @media screen and (min-width: 960px) {
    background: #19454E;
  }
}

.gap {
  gap: 8px;
}

.calculator-overflow {
  overflow: scroll;

  @media screen and (min-width: 960px) {
    height: 4lh;
  }
}


.btn-glass-effect {
  box-shadow: 0px 1px 1px 0px #FFFFFF33 inset !important;
}

.gradient {
  width: 100%;
  height: 36px;
  background: linear-gradient(180deg, #26545D 0%, rgba(38, 84, 93, 0) 100%);
  position: absolute;
  left: 0;

  @media screen and (min-width: 960px) {
    background: linear-gradient(180deg, #19454E 0%, rgba(25, 69, 78, 0) 100%);
  }
}
</style>