<template>
    <v-container class="maxWidth">
        <v-img src="@/assets/icons/leftShape.svg" class="leftImage d-none d-md-block" />
        <p class="font-weight-bold text-h4 mb-3 text-md-h2">Выберите ОФД</p>
        <p class="text-subtitle-2 mb-9 text-md-h4">Услуги кассы будут бесплатны при выборе ОФД Транстелеком или Beeline
        </p>
        <v-sheet color="#356A75" class="ma-0 px-5 py-6 rounded-xl mb-3">
            <v-row class="ma-0 align-center justify-space-between">
                <p class="font-weight-bold text-h4 text-md-h2">Транстелеком</p>
                <v-btn color="primary" height="fit-content" icon min-width="fit-content" elevation="0"
                    class="rounded-lg py-1 px-2 pa-0">
                    <v-img max-height="24" max-width="24" src="@/assets/icons/info.svg" class="pa-0" />
                </v-btn>
            </v-row>
            <v-row class="ma-0 mt-5">
                <v-sheet color="#15BAAA" class="py-3 rounded-xl flex-grow-1 d-flex flex-column align-center mr-2">
                    <p class="text-subtitle-2 text-md-subtitle-1">Ежемесячный</p>
                    <p class="text-h3">1 400 ₸</p>
                </v-sheet>
                <v-sheet color="#26545D" class="py-3 rounded-xl flex-grow-1 d-flex flex-column align-center">
                    <p class="text-subtitle-2 text-md-subtitle-1">Годовой</p>
                    <p class="text-h3">1 120 ₸</p>
                    <p class="text-body-1">13 440 ₸ в год</p>
                </v-sheet>
            </v-row>
            <p class="secondary--text text-body-1 text-md-subtitle-2 text-center my-6">Примечание! Оплата спишется
                позже,<br>
                после первой продажи с кассы</p>
            <v-btn to="/cash-register-step5" width="100%" height="48" color="#15BAAA" elevation="0"
                class="font-weight-bold text-h5 text-md-h4 mb-3">Продолжить</v-btn>
        </v-sheet>
        <v-sheet color="#356A75" class="ma-0 px-5 py-6 rounded-xl">
            <v-row class="ma-0 align-center justify-space-between">
                <p class="font-weight-bold text-h4 text-md-h2">Beeline</p>
                <v-btn color="primary" height="fit-content" icon min-width="fit-content" elevation="0"
                    class="rounded-lg py-1 px-2 pa-0">
                    <v-img max-height="24" max-width="24" src="@/assets/icons/info.svg" class="pa-0" />
                </v-btn>
            </v-row>
            <v-row>
                <v-col>
                    <p class="text-subtitle-2 text-md-subtitle-1">Стандартный</p>
                    <p class="text-h3">1 400 ₸</p>
                </v-col>
                <v-col>
                    <p class="text-subtitle-2 text-md-subtitle-1">Годовой</p>
                    <p class="text-h3">12 000 ₸</p>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    <p class="text-subtitle-2 text-md-subtitle-1">Квартальный</p>
                    <p class="text-h3">4 000 ₸</p>
                </v-col>
                <v-col>
                    <p class="text-subtitle-2 text-md-subtitle-1">Полугодовой</p>
                    <p class="text-h3">7 000 ₸</p>
                </v-col>
            </v-row>
            <v-btn width="100%" height="48" outlined class="font-weight-bold text-h5 mt-5 text-md-h4">Перейти на
                сайт</v-btn>
            <v-img src="@/assets/icons/rightShape.svg" class="rightImage d-none d-md-block" />
        </v-sheet>
    </v-container>
</template>

<script>
export default {
    name: 'CashRegisterStep4'
}
</script>

<style scoped>
.maxWidth {
    @media screen and (min-width: 960px) {
        max-width: 430px;
    }
}

.leftImage {
    position: absolute;
    left: 0;
    top: 20%;
}

.rightImage {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
</style>