<template>
    <v-container class="maxWidth">
        <v-img src="@/assets/icons/leftShape.svg" class="leftImage d-none d-md-block" />
        <p class="text-h4 text-md-h2 font-weight-bold mb-4">Регистрация кассы</p>
        <p class="text-subtitle-2 text-md-h5 mb-md-15">Регистрация прямо в приложении! <br>С помощью eGOV
            Mobile/Business</p>
        <v-img src="@/assets/images/registration.png" height="300" width="300" class="mx-auto d-md-none" />
        <v-btn to="/cash-register-step2" elevation="0" width="100%" height="48"
            class="font-weight-bold text-h5 text-md-h4" color="#15BAAA">Начать
            регистрацию</v-btn>
        <v-btn to="/" plain class="text-body-1 text-md-h5 mx-auto mt-5 mb-8 mt-md-8 mb-md-16 d-block"
            height="fit-content" width="fit-content" color="#15BAAA" style="opacity: 1;">Как установить
            eGov
            Mobile/Business?</v-btn>
        <v-btn plain class="text-subtitle-2 mx-auto mt-5 mb-8 d-block text-wrap pa-0 text-md-h5 mb-md-10"
            height="fit-content" width="276px" color="#B6CDD2" style="opacity: 1;">Другие способы регистрации через
            компьютер</v-btn>
        <v-btn elevation="0" outlined class="font-weight-bold text-h5 mb-3 text-md-h4" width="100%" height="48">С ЭЦП
            через
            rekassa</v-btn>
        <v-btn elevation="0" outlined class="font-weight-bold text-h5 text-md-h4" width="100%" height="48">С ЭЦП через
            кабинет
            ОФД</v-btn>
        <v-img src="@/assets/icons/rightShape.svg" class="rightImage d-none d-md-block" />
    </v-container>
</template>

<script>
export default {
    name: 'CashRegisterComponent',
}
</script>

<style scoped>
.maxWidth {
    @media screen and (min-width: 960px) {
        max-width: 430px;
    }
}

.leftImage {
    position: absolute;
    left: 0;
    top: 20%;
}

.rightImage {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
</style>