<template>
    <v-container class="maxWidth">
        <v-img src="@/assets/icons/leftShape.svg" class="leftImage d-none d-md-block" />
        <p class="font-weight-bold text-h4 mb-3 text-md-h2">Почти всё!<br>
            Подпишите заявления через eGov Mobile</p>
        <p class="text-subtitle-2 mb-9 mb-md-12 text-md-h4">Вам необходимо подписать два документа</p>
        <v-sheet color="#356A75" class="py-4 px-5 rounded-xl mb-2 pb-md-8 mb-md-3">
            <p class="text-subtitle-2 text-md-h5">Заявка на присоединение к Договору на оказание услуги приёма,
                обработки, хранения
                и передачи в
                неизменном...</p>
            <v-row class="ma-0 justify-space-between align-center mt-md-4">
                <v-chip outlined height="18"
                    class="rounded-lg secondary--text text-none text-overline text-md-subtitle-2">Не
                    подписано</v-chip>
                <v-btn plain class="text-md-subttile-1">Детали <v-icon>mdi-chevron-right</v-icon></v-btn>
            </v-row>
        </v-sheet>
        <v-sheet color="#356A75" class="py-4 px-5 rounded-xl mb-md-15">
            <p class="secondary--text text-subtitle-2 text-md-h5">Заявление на регистрацию
                <br> кассы в налоговой
            </p>
        </v-sheet>
        <div class="bottom">
            <p class="text-center text-caption text-md-h5 mb-md-8 mb-md-5">Ознакомьтесь с <span><v-btn color="#15BAAA"
                        plain class="pa-0 text-caption text-md-h5">Условиями
                        договора</v-btn></span></p>
            <v-btn to="/cash-register-step5" width="100%" height="48" color="#15BAAA" elevation="0"
                class="font-weight-bold text-h5 mb-3 mb-md-5 text-md-h4">Через eGov Mobile</v-btn>
            <v-btn width="100%" height="48" outlined class="font-weight-bold text-h5 text-md-h4">Через ЭЦП
                (NCALayer)</v-btn>
        </div>
        <v-img src="@/assets/icons/rightShape.svg" class="rightImage d-none d-md-block" />
    </v-container>
</template>
<style scoped>
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 16px;

    @media screen and (min-width: 960px) {
        position: initial;
        padding: 0;
    }
}

.maxWidth {
    @media screen and (min-width: 960px) {
        max-width: 430px;
    }
}

.leftImage {
    position: absolute;
    left: 0;
    top: 20%;
}

.rightImage {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
</style>