<template>
    <v-toolbar elevation="0" color="background">
        <v-container>
            <v-btn icon plain class="pa-0" @click="goBack">
                <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-btn to='/' plain>Закрыть</v-btn>
        </v-container>
    </v-toolbar>
</template>

<script>
export default {
    name: 'CashRegisterNav',
    methods: {
        goBack() {
            this.$router.back()
        }
    }
}
</script>