<template>
    <v-container class="maxWidth">
        <v-img src="@/assets/icons/leftShape.svg" class="leftImage d-none d-md-block" />
        <p class="text-h4 font-weight-bold mb-3 text-md-h2">Введите ИИН/БИН предпринимателя</p>
        <p class="text-subtitle-2 text-md-h4">Проверим данные вашей организации <br>и статус регистрации в госорганах
        </p>
        <p class="mt-8 mb-2 text-body-1 text-md-subtitle-1">ИИН/БИН</p>
        <v-text-field v-model="iin" background-color="#19454E" flat solo height="48" placeholder="___ ___ ___ ___"
            class="rounded-xl" />
        <v-btn elevation="0" :disabled="!iin" color="primary" width="100%" height="48"
            class="font-weight-bold text-h5 text-md-h4">
            Продолжить
        </v-btn>
        <Loader />
        <div>
            <p class="font-weight-bold text-h4 mb-6 text-md-h2 mb-md-8">Проверьте данные</p>
            <p class="text-body-1 mb-2 text-md-subtitle-1 secondary--text">Наименование</p>
            <p class="text-h5 mb-6 text-md-h3">Estate Partner</p>
            <p class="text-body-1 mb-2 text-md-subtitle-1 secondary--text">Сфера деятельности</p>
            <p class="text-h5 mb-5 text-md-h3 mb-md-9 littleLineHeight">Предоставление прочих индивидуальных услуг, не
                включённых в
                другие
                группировки</p>
            <v-btn to="/cash-register-step3" width="100%" height="48" color="#15BAAA"
                class="font-weight-bold text-h5 mb-3 text-md-h4">Продолжить</v-btn>
            <v-btn width="100%" height="48" outlined class="font-weight-bold text-h5 text-md-h4">Есть ошибка</v-btn>
        </div>
        <v-img src="@/assets/icons/rightShape.svg" class="rightImage d-none d-md-block" />
    </v-container>
</template>
<script>
import Loader from '@/components/Loader.vue'
export default {
    name: 'CashRegisterStep2',
    components: {
        Loader
    },
    data: () => ({
        iin: '',
    })
}
</script>

<style scoped>
.maxWidth {
    @media screen and (min-width: 960px) {
        max-width: 430px;
    }
}

.leftImage {
    position: absolute;
    left: 0;
    top: 20%;
}

.rightImage {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.littleLineHeight {
    @media screen and (min-width: 960px) {
        line-height: 26px !important;
    }
}
</style>