<template>
    <v-container class="maxWidth">
        <v-img src="@/assets/icons/leftShape.svg" class="leftImage d-none d-md-block" />
        <p class="font-weight-bold text-h4 text-md-h2 mb-md-4">Выберите юридический <br> адрес
            <span>
                <v-btn color="primary" height="fit-content" icon min-width="fit-content" elevation="0"
                    class="rounded-lg py-1 px-2 pa-0">
                    <v-img max-height="24" max-width="24" src="@/assets/icons/info.svg" class="pa-0" />
                </v-btn>
            </span>
        </p>
        <p class="text-subtitle-2 mb-9 text-md-h4 mb-md-10">Укажите адрес места, где ваша компания официально
            зарегистрирована
        </p>
        <p class="mb-2 text-body-1 text-md-subtitle-1">Населённый пункт</p>
        <v-text-field v-model="iin" background-color="#19454E" flat solo height="48" class="rounded-xl" />
        <p class="mt-2 mb-2 text-body-1 text-md-subtitle-1">Улица</p>
        <v-text-field v-model="iin" background-color="#19454E" flat solo height="48" class="rounded-xl" />
        <v-row>
            <v-col>
                <p class="mt-2 mb-2 text-body-1 text-md-subtitle-1">Дом</p>
                <v-text-field v-model="iin" background-color="#19454E" flat solo height="48" class="rounded-xl" />
            </v-col>
            <v-col>
                <p class="mt-2 mb-2 text-body-1 text-md-subtitle-1">Квартира</p>
                <v-text-field v-model="iin" background-color="#19454E" flat solo height="48" class="rounded-xl" />
            </v-col>
        </v-row>
        <v-btn to="/cash-register-step4" width="100%" height="48" color="#15BAAA" elevation="0"
            class="font-weight-bold text-h5 mb-3 text-md-h4">Продолжить</v-btn>
        <v-img src="@/assets/icons/rightShape.svg" class="rightImage d-none d-md-block" />
    </v-container>
</template>
<script>
export default {
    name: 'CashRegisterStep3'
}
</script>

<style scoped>
.maxWidth {
    @media screen and (min-width: 960px) {
        max-width: 430px;
    }
}

.leftImage {
    position: absolute;
    left: 0;
    top: 20%;
}

.rightImage {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
</style>