<template>
    <v-container class="py-0 d-md-flex gaps col-sm-8 col-md-11 col-12">
        <v-col>
            <p class="text-caption text-md-body-2">Позиции</p>
            <v-sheet color="#19454E" class="rounded-xl py-3 px-4 d-flex justify-space-between">
                <v-col class="pa-0">
                    <p class="mb-0 text-md-h6">1. Позиция</p>
                    <p class="mb-0 text-caption secondary--text text-md-body-2">1 шт. 600.00 ₸</p>
                </v-col>
                <v-row class="align-center justify-end">
                    <p class="mb-0 text-md-body-1">600</p>
                    <v-btn icon>
                        <v-icon color="#15BAAA">mdi-dots-vertical</v-icon>
                    </v-btn>
                </v-row>
            </v-sheet>
            <v-row class="ma-0 mt-2 mt-md-3 flex-nowrap">
                <v-btn color="primary" height="auto" elevation="0"
                    class="flex-grow-1 text-capitalize font-weight-regular px-4 py-3 text-left rounded-tl-xl rounded-bl-xl rounded-tr-0 rounded-br-0"
                    style="letter-spacing: 0; line-height: 16px;"><v-img :height="iconSize2" :width="iconSize2"
                        src="@/assets/icons/addPosition.svg" class="flex-grow-0 mr-3" />
                    <p class="mb-0 text-md-body-2" style="line-height: 16px;"> Добавить <br /> позицию</p>
                </v-btn>
                <v-divider vertical color="#26545D" style="border-color: #26545D; border-width: 1.5px;"></v-divider>
                <v-btn color="primary" height="auto" elevation="0"
                    class="flex-grow-1 text-capitalize font-weight-regular px-4 py-3 text-left rounded-tr-xl rounded-br-xl rounded-tl-0 rounded-bl-0"
                    style="letter-spacing: 0; line-height: 16px;"><v-img :height="iconSize2" :width="iconSize2"
                        src="@/assets/icons/barcodeItem.svg" class="flex-grow-0 mr-3" />
                    <p class="mb-0 text-md-body-2" style="line-height: 16px;">Сканировать <br />
                        штрих-код</p>
                </v-btn>
            </v-row>

            <p class="mt-8 mt-md-10 mb-2 text-caption text-md-body-2">Скидка/Наценка</p>
            <v-sheet color="#19454E" class="rounded-xl pa-2 d-flex justify-space-between align-center">
                <v-btn color="#15BAAA" elevation="0" class="rounded-lg text-capitalize  font-weight-regular px-3"
                    style="letter-spacing: 0;">Наценка<v-img src="@/assets/icons/roll.svg" class="ml-2" /></v-btn>
                <p class="mb-0">0</p>
                <div>
                    <v-btn width="36" color="#15BAAA" elevation="0" class="pa-3">%</v-btn>
                    <v-btn width="36" color="transparent" elevation="0">₸</v-btn>
                </div>
            </v-sheet>
            <p class="mt-8 mb-2 text-caption text-md-body-2">ИИН/БИН</p>
            <v-text-field background-color="#19454E" flat solo height="48" placeholder="___ ___ ___ ___"
                class="rounded-xl" />
        </v-col>
        <v-col>
            <p class="mt-8 mb-2 text-caption mt-sm-0 text-md-body-2">Оплата</p>
            <v-col class="mx-0 mb-4 gap mt-0 pa-0">
                <v-btn height="fit-content" elevation="0" color="primary" width="100%" to="/check-positions"
                    class="rounded-lg flex-grow-1 flex-shrink-0 py-3 px-1 py-md-6 mb-1">
                    <v-row class="align-center justify-space-between col-12 pl-4">
                        <v-row class="align-center">
                            <v-img :width="iconSize" :height="iconSize" src="@/assets/icons/cash.svg"
                                class="mr-2 flex-grow-0" />
                            <div>
                                <p class="text-capitalize mb-0 font-weight-bold text-body-1 text-left">
                                    Наличные</p>
                                <p class="text-caption text-capitalize mb-0 text-left">Наличные деньги</p>
                            </div>
                        </v-row>
                        <p class="mb-0 text-h5">1000</p>
                    </v-row>
                </v-btn>

                <v-btn height="fit-content" elevation="0" color="primary" width="100%"
                    class="rounded-lg flex-grow-1 flex-shrink-0 py-3 px-1 py-md-6 mb-1">
                    <v-row class="align-center justify-space-between col-12 pl-4">
                        <v-row class="align-center">
                            <v-img :width="iconSize" :height="iconSize" src="@/assets/icons/card.svg"
                                class="mr-2 flex-grow-0" />
                            <div>
                                <p class="text-capitalize mb-0 font-weight-bold text-body-1 text-left">Карта</p>
                                <p class="text-caption text-capitalize mb-0 text-left">Оплата через POS-терминал</p>
                            </div>
                        </v-row>
                        <p class="mb-0 text-h5">0</p>
                    </v-row>
                </v-btn>

                <v-btn height=" fit-content" elevation="0" color="primary" width="100%"
                    class="rounded-lg flex-grow-1 flex-shrink-0 py-3 px-1 py-md-6">
                    <v-row class="align-center justify-space-between col-12 pl-4">
                        <v-row class="align-center">
                            <v-img :width="iconSize" :height="iconSize" src="@/assets/icons/qr.png"
                                class="mr-2 flex-grow-0" />
                            <div>
                                <p class="text-capitalize mb-0 font-weight-bold text-body-1 text-left">Мобильный</p>
                                <p class="text-caption text-capitalize mb-0 text-left">Удалённая оплата, QR-платежи</p>
                            </div>
                        </v-row>
                        <p class="mb-0 text-h5">10</p>
                    </v-row>
                </v-btn>
            </v-col>
        </v-col>
        <v-col>
            <v-row class="ma-0 justify-space-between mt-8 mt-md-0">
                <p class="text-h5 mb-0">ИТОГО</p>
                <p class="text-h5 mb-0">3 750 ₸</p>
            </v-row>
            <v-row class="ma-0 justify-space-between mt-1">
                <p class="mb-0 text-caption secondary--text">Скидка</p>
                <p class="mb-0 text-caption secondary--text">60 ₸</p>
            </v-row>
            <v-row class="ma-0 justify-space-between">
                <p class="mb-0 text-caption secondary--text">Наличные</p>
                <p class="mb-0 text-caption secondary--text">1 000 ₸</p>
            </v-row>
            <v-row class="ma-0 justify-space-between">
                <p class="mb-0 text-caption secondary--text">Сдача</p>
                <p class="mb-0 text-caption secondary--text">560 ₸</p>
            </v-row>
            <v-btn to="/preliminary-check" width="100%" color="#00E673" elevation="0" height="48" :block="false"
                class="mb-3 rounded-lg text-capitalize font-weight-bold text-subtitle-1 mt-7" style="letter-spacing: 0;"
                @click="dialog = false">
                Далее
            </v-btn>
        </v-col>
    </v-container>
</template>

<script>
export default {
    name: 'CheckPositionsComponent',
    computed: {
        iconSize() {
            return this.$vuetify.breakpoint.mdAndUp ? '32' : '32'
        },
        iconSize2() {
            return this.$vuetify.breakpoint.mdAndUp ? '32' : '24'
        }
    },
}
</script>

<style scoped>
.gaps{
    gap: 48px;

@media screen and (max-width: 1200px) {
    gap: 10px;
}
}
</style>