<template>
  <v-container class="d-md-flex px-lg-16">
    <v-col class="py-4 py-md-0">
      <v-sheet color="primary" class="pt-md-11 pb-md-16 pt-7 pb-12">
        <h6 class="text-center text-h3 text-md-h2 mb-1">ИП «DEMO»</h6>
        <p class="text-center secondary--text text-body-1 text-md-subtitle-1 mb-9">
          БИН (ИИН): 999999999999
          <br>
          ул. Демонстрационная, 1
        </p>
        <p class="text-center text-uppercase text-subtitle-1 text-md-h3 mb-3">Предварительный чек №021</p>
        <v-divider></v-divider>
        <v-container class="px-md-8">
          <div v-for="i in 2" :key="i">
            <p class="mb-0 text-md-h3">{{ i }}. Позиция</p>
            <v-row class="ma-0 justify-space-between">
              <p class="mb-0 text-caption text-md-subtitle-1 secondary--text">1 шт. x 1 250.00 ₸</p>
              <p class="mb-0 text-caption text-md-subtitle-1 secondary--text">1 250.00 ₸</p>
            </v-row>
            <v-row class="ma-0 justify-space-between">
              <p class="mb-0 text-caption text-md-subtitle-1 secondary--text">Стоимость</p>
              <p class="mb-0 text-caption text-md-subtitle-1 secondary--text">1 250.00 ₸</p>
            </v-row>
            <v-divider class="my-3"></v-divider>
          </div>
          <v-row class="ma-0 justify-space-between">
            <p class="text-h5 mb-0 text-md-h2">ИТОГО</p>
            <p class="text-h5 mb-0 text-md-h2">3 750 ₸</p>
          </v-row>
          <v-row class="ma-0 justify-space-between">
            <p class="mb-0 text-caption secondary--text text-md-subtitle-1">Наличные</p>
            <p class="mb-0 text-caption secondary--text text-md-subtitle-1">3 750 ₸</p>
          </v-row>
        </v-container>
      </v-sheet>
      <div class="wave-bottom"></div>
    </v-col>
    <v-col class="pa-md-0 ml-md-8 pr-lg-16">
      <v-row class="align-stretch mt-5 mb-4 ma-0" style="gap: 8px">
        <v-btn elevation="0" height="auto" color="primary"
          class="text-body-1 text-capitalize flex-grow-1 py-4 rounded-lg text-md-h5 py-md-6">
          <div class="d-flex flex-column align-center justify-center">
            <v-icon width="32" height="32" class="mb-1 mb-md-2">mdi-share-variant-outline</v-icon>Поделиться
          </div>
        </v-btn>
        <v-btn elevation="0" height="auto" color="primary"
          class="text-body-1 text-capitalize flex-grow-1 py-4 rounded-lg text-md-h5 py-md-6">
          <div class="d-flex flex-column align-center justify-center">
            <v-img width="32" height="32" src="@/assets/icons/download.svg" class="mb-1 mb-md-2" />
            Скачать
          </div>
        </v-btn>
        <v-btn elevation="0" height="auto" color="primary"
          class="text-body-1 text-capitalize flex-grow-1 py-4 rounded-lg text-md-h5 py-md-6">
          <div class="d-flex flex-column align-center justify-center">
            <v-img width="32" height="32" src="@/assets/icons/print.svg" class="mb-1 mb-md-2" />
            Распечатать
          </div>
        </v-btn>
      </v-row>
      <v-btn to="/" color="#15BAAA" elevation="0" width="100%" height="48"
        class="mb-3 rounded-lg text-capitalize text-subtitle-1 mt-5 mx-0 mt-md-6 font-weight-bold"
        style="letter-spacing: 0;" @click="dialog = false">
        Завершить
      </v-btn>
    </v-col>
  </v-container>
</template>

<script>
export default {
  name: 'FinalCheck',
  data: () => ({
  }),
}
</script>

<style scoped>
.wave-bottom {
  height: 20px;
  background: #326b77;
  --mask:
    radial-gradient(4.24px at 50% calc(100% - 6px), #000 99%, #0000 101%) calc(50% - 6px) 0/12px 100%,
    radial-gradient(4.24px at 50% calc(100% + 3px), #0000 99%, #000 101%) 50% calc(100% - 3px)/12px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
</style>