<template>
  <v-container>
    <v-slide-group multiple class="slider mt-md-12 pb-md-12 arrows-center">
      <v-slide-item v-for="(story, index) in stories" :key="index">
        <v-sheet rounded="xl" :height="storyHeight" :width="storyWidth" color="transparent"
          class="border-active mx-1 mx-md-3" :class="[i === 1 && 'border-inactive']" @click="showSlider = true">
          <v-img :src="getImage(story.img)" height="100%" width="100%" class="custom-border" />
        </v-sheet>
      </v-slide-item>
    </v-slide-group>
    <StoriesSlider v-if="showSlider" @closeStories="showSlider = false" />
    <div class="mt-6 mb-9 mt-md-12">
      <div class="d-md-flex pb-md-4">
        <v-sheet class="px-4 py-5 pa-md-9 col-md-6 px-md-8 py-md-9" :class="shiftClasses" color="primary" width="100%">
          <div class="d-flex justify-space-between mb-2 mb-md-7">
            <p class="text-body-1 text-md-h4">Текущая смена - №1</p>
            <p class="text-body-1 text-md-h4 secondary--text">07:01 - 21.02.24</p>
          </div>
          <div class="d-flex justify-space-between align-center">
            <p class="text-h2 mb-0 text-md-h2 text-lg-h1">12 000 000</p>
            <v-chip class="py-md-2 px-md-4 d-table rounded-lg py-1" x-small color="rgba(49, 210, 195, 0.15)">
              <p class="text-subtitle-2 mb-0 text-md-h4 info--text">999 чеков</p>
            </v-chip>
          </div>
          <div>
            <p class="text-subtitle-2 text-center text-md-h3">Нет открытой смены</p>
            <v-btn v-on="on" width="100%" class="mt-4 d-flex mx-auto rounded-lg text-subtitle-2 text-md-h4"
              color="#FB8C00" elevation="0">
              Открыть новую смену
            </v-btn>
          </div>
          <v-dialog v-model="dialog" width="500">
            <template v-slot:activator="{ on, attrs }">
              <v-btn v-bind="attrs" v-on="on" width="100%"
                class="mt-4 d-flex mx-auto rounded-lg text-subtitle-2 text-md-h4" color="rgba(255, 25, 87, 0.5)"
                elevation="0">
                Необходимо закрыть смену
              </v-btn>
            </template>
            <v-card color="primary" rounded="xl" class="px-8 py-10">
              <v-card-title class="text-h6 text-center justify-center pa-0 mb-1 font-weight-bold">
                Закрытие смены
              </v-card-title>
              <v-card-text class="text-center text--primary">
                Подтверждаете действие?
              </v-card-text>
              <v-card-actions class="flex-column align-stretch pa-0">
                <v-btn color="info" elevation="0" height="48" :block="false"
                  class="mb-3 rounded-lg text-capitalize font-weight-bold text-subtitle-1" style="letter-spacing: 0;"
                  @click="dialog = false">
                  Закрыть смену
                </v-btn>
                <v-btn color="transparent" elevation="0" height="48"
                  class="rounded-lg text-capitalize ml-0 font-weight-bold text-subtitle-1"
                  style="letter-spacing: 0; border: 2px solid #5C96A3 !important;" @click="dialog = false">
                  Отмена
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-sheet>
        <v-divider color="#26545D" style="border-color: #26545D; border-width: 1px;" class="d-md-none"></v-divider>
        <v-divider vertical color="#26545D" style="border-color: #26545D; border-width: 1.5px;"
          class="d-none d-md-block"></v-divider>

        <div class="d-flex gap-1 col-6 pa-0 align-md-stretch">
          <v-btn color="primary" elevation="0" height="100%" class="col-md-6 py-3 px-4 " :class="shiftFristBtnClasses">
            <div class="d-flex flex-md-column justify-center align-center flex-row">
              <v-img :height="btnIcon" :width="btnIcon" src="@/assets/icons/pricelist.svg" class="mr-1 mb-md-3" />
              <p class="text-subtitle-2 mb-0 text-md-h4">Прайс-лист</p>
            </div>
          </v-btn>
          <v-divider vertical color="#26545D" style="border-color: #26545D; border-width: 2px;"></v-divider>
          <v-btn color="primary" elevation="0" height="100%" class="col-md-6 py-3 px-4" :class="shiftSecondBtnClasses">
            <div class="d-flex flex-md-column justify-center align-center flex-row">
              <v-img :height="btnIcon" :width="btnIcon" src="@/assets/icons/directory.svg" class="mr-1 mb-md-3" />
              <p class="text-subtitle-2 mb-0 text-md-h4">Справочник</p>
            </div>
          </v-btn>
        </div>
      </div>
      <div class="mt-9 mt-md-16 pb-md-4">
        <router-link to="/" class="text-subtitle-1 text-decoration-none font-weight-bold text-md-h2 mb-6">Сервисы
          <v-icon>mdi-chevron-right</v-icon></router-link>
        <v-slide-group multiple show-arrows class="mt-3 slider arrows-top">
          <v-slide-item v-for="(service, index) in services" :key="index">
            <v-card :width="serviceCardWidth" :height="serviceCardHeight" rounded="xl" elevtion="0" outlined
              color="primary" class="mx-1 pa-3 rounded-md pa-md-6 mx-md-2">
              <v-img :width="iconSize" :height="iconSize" class="mb-2 mb-md-6" :src="getIcon(service.icon)" />
              <p class="font-weight-bold custom-title" style="margin-bottom: 5px;">{{ service.title }}</p>
              <p class="pa-0 custom-subtitle">{{ service.subtitle }}</p>
            </v-card>
          </v-slide-item>
        </v-slide-group>
      </div>
      <div class="mt-9 mt-md-14 pb-md-4">
        <router-link to="/" class="text-subtitle-1 text-decoration-none font-weight-bold text-md-h2 mb-6">Маркетплейсы
          <v-icon>mdi-chevron-right</v-icon></router-link>
        <v-slide-group multiple show-arrows class="mt-3 slider arrows-top">
          <v-slide-item v-for="(marketplace, index) in marketplaces" :key="index">
            <v-card rounded="xl" :width="marketCardWidth" :height="marketCardHeight" elevtion="0" outlined
              color="primary" class="mx-1 pa-3 rounded-md pa-md-4 mx-md-2">
              <div class="d-flex justify-space-between mb-2 mb-md-4 align-center">
                <p class="font-weight-bold mr-2 mr-md-5 mb-0 custom-title">{{ marketplace.title }}</p>
                <v-img :width="iconSize" :height="iconSize" class="flex-grow-0" :src="getIcon(marketplace.icon)" />
              </div>
              <p class="pa-0 custom-subtitle">{{ marketplace.subtitle }}</p>
            </v-card>
          </v-slide-item>
        </v-slide-group>
      </div>
      <div class="mt-9 mt-md-14">
        <h5 class="text-subtitle-1 font-weight-bold text-md-h2 secondary--text mb-2">Полезное</h5>
        <v-sheet rounded="xl" width="100%" color="primary" class="d-block d-md-none" style="position: relative;">
          <v-window v-model="onboarding">
            <v-window-item v-for="n in length" :key="`card-${n}`">
              <v-card color="transparent" height="128" class="pa-4" elevation="0">
                <p class="text-subtitle-1 font-weight-bold mb-1">Новая функция</p>
                <p style="max-width: 170px; font-size:14px; line-height: 16px;">Автоматическое пробитие чека для Каспи
                  Магазина</p>
                <v-img src="@/assets/images/women.png" height="100%" width="141"
                  style="position: absolute; bottom: 00px; right: 0;" />
              </v-card>
            </v-window-item>
          </v-window>

          <v-card-actions class="justify-space-between ml-1" style="position: absolute; bottom: 0;">
            <v-item-group v-model="onboarding" class="text-center" mandatory>
              <v-item v-for="n in length" :key="`btn-${n}`" v-slot="{ active, toggle }">
                <v-btn :input-value="active" icon width="16" height="16" color="black" @click="toggle">
                  <v-icon>mdi-circle-medium</v-icon>
                </v-btn>
              </v-item>
            </v-item-group>
          </v-card-actions>
        </v-sheet>
        <v-row class="mt-6 d-none d-md-flex overflow-auto flex-nowrap" style="gap: 16px;">
          <v-card v-for="i in 9" :key="i" color="primary" height="158" class="pa-6 col-4" elevation="0" rounded="xl"
            max-width="380" style="position: relative;">
            <p class="text-h6 mb-2">Новая функция</p>
            <p class="text-captoin" style="max-width: 196px;">Автоматическое пробитие чека для Каспи Магазина</p>
            <v-img src="@/assets/images/women.png" height="100%" width="141"
              style="position: absolute; bottom: 0; right: 0;" />
          </v-card>
        </v-row>
      </div>
    </div>
  </v-container>
</template>

<script>
import StoriesSlider from '@/components/StoriesSlider.vue'
export default {
  name: 'HomeComponent',
  components: {
    StoriesSlider
  },
  data: () => ({
    length: 9,
    onboarding: 0,
    dialog: false,
    showSlider: false,
    stories: [
      { img: 'story' },
      { img: 'story' },
      { img: 'story' },
      { img: 'story' },
      { img: 'story' },
      { img: 'story' },
      { img: 'story' }
    ],
    services: [
      {
        title: 'Freedom Box',
        subtitle: 'Продавай в рассрочку и принимай платежи через терминал',
        icon: 'testicon3'
      },
      {
        title: 'Freedom Credit',
        subtitle: 'Микрозаймы  для малого бизнеса',
        icon: 'testicon4',
      },
      {
        title: 'Freedom Life',
        subtitle: 'Обязательное страхование сотрудников',
        icon: 'testicon5',
      },
      {
        title: 'Halyk POS',
        subtitle: 'Прием карточных платежей через смартфон',
        icon: 'testicon3',
      },
      {
        title: 'Freedom Life',
        subtitle: 'Обязательное страхование сотрудников',
        icon: 'testicon4',
      },
      {
        title: 'Halyk POS',
        subtitle: 'Прием карточных платежей через смартфон',
        icon: 'testicon5',
      },
    ],
    marketplaces: [
      {
        title: 'Каспи Магазин',
        subtitle: 'Продавай в рассрочку и принимай платежи через терминал',
        icon: 'testicon3',
      },
      {
        title: 'Подключи маркетплейс',
        subtitle: 'Продавай онлайн легально и легко с любого маркетплейса',
        icon: 'testicon4',
      },
      {
        title: 'Каспи Магазин',
        subtitle: 'Продавай в рассрочку и принимай платежи через терминал',
        icon: 'testicon5',
      },
      {
        title: 'Подключи маркетплейс',
        subtitle: 'Продавай онлайн легально и легко с любого маркетплейса',
        icon: 'testicon3',
      }, {
        title: 'Каспи Магазин',
        subtitle: 'Продавай в рассрочку и принимай платежи через терминал',
        icon: 'testicon4',
      },
      {
        title: 'Подключи маркетплейс',
        subtitle: 'Продавай онлайн легально и легко с любого маркетплейса',
        icon: 'testicon3',
      },
    ]
  }),
  computed: {
    storyHeight() {
      return this.$vuetify.breakpoint.mdAndUp ? '250px' : '124px'
    },
    btnIcon() {
      return this.$vuetify.breakpoint.mdAndUp ? '48px' : '20px'
    },
    storyWidth() {
      return this.$vuetify.breakpoint.mdAndUp ? '176px' : '94px'
    },
    iconSize() {
      return this.$vuetify.breakpoint.mdAndUp ? '72px' : '40px'
    },
    serviceCardWidth() {
      return this.$vuetify.breakpoint.mdAndUp ? '288px' : '160px'
    },
    serviceCardHeight() {
      return this.$vuetify.breakpoint.mdAndUp ? '264px' : '160px'
    },
    marketCardWidth() {
      return this.$vuetify.breakpoint.mdAndUp ? '282px' : '180px'
    },
    marketCardHeight() {
      return this.$vuetify.breakpoint.mdAndUp ? '212px' : '140px'
    },
    shiftClasses() {
      return this.$vuetify.breakpoint.mdAndUp ? 'rounded-tl-xl rounded-bl-xl' : 'rounded-t-xl'
    },
    shiftFristBtnClasses() {
      return this.$vuetify.breakpoint.mdAndUp ? 'rounded-0' : 'rounded-bl-xl rounded-t-0 rounded-br-0'
    },
    shiftSecondBtnClasses() {
      return this.$vuetify.breakpoint.mdAndUp ? 'rounded-tr-xl rounded-br-xl rounded-tl-0 rounded-bl-0' : 'rounded-br-xl rounded-t-0 rounded-bl-0'
    }
  },
  methods: {
    next() {
      this.onboarding = this.onboarding + 1 === this.length
        ? 0
        : this.onboarding + 1
    },
    prev() {
      this.onboarding = this.onboarding - 1 < 0
        ? this.length - 1
        : this.onboarding - 1
    },
    getImage(img) {
      return require(`../assets/images/${img}.png`)
    },
    getIcon(img) {
      return require(`../assets/icons/${img}.png`)
    },
  }
}
</script>

<style scoped>
.custom-title {
  font-size: 16px;
  line-height: 18px;

  @media screen and (min-width: 960px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.custom-subtitle {
  font-size: 14px;
  line-height: 16px;

  @media screen and (min-width: 960px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.theme--dark.v-btn--active {
  color: white !important;
}

.theme--dark.v-btn--active:before,
.theme--dark.v-btn--active:hover:before {
  opacity: 0;
}

.border-active {
  border: 2px solid #00E673 !important;
  padding: 2px;

  @media (min-width: 960px) {
    border: 4px solid #00E673 !important;
    padding: 4px;
  }
}

.border-inactive {
  border-color: #356A75 !important;
}

.slider {
  @media screen and (max-width: 960px){
    width: calc(100% + 12px);
    max-width: calc(100% + 12px);
  }
}

.custom-border {
  border-radius: 12px;
}

.arrows-center ::v-deep .v-slide-group__next,
.arrows-center ::v-deep .v-slide-group__prev {
  background: transparent;
  position: absolute;
  z-index: 5;
  top: 35%;
}

.arrows-top ::v-deep .v-slide-group__next,
.arrows-top ::v-deep .v-slide-group__prev {
  background: transparent;
  position: absolute;
  z-index: 5;
  top: -60px;

  @media screen and (max-width: 960px) {
    display: none;
  }
}

::v-deep .v-slide-group__next i,
::v-deep .v-slide-group__prev i {
  color: #fff !important;
  font-size: 35px;
  font-weight: 700;
  width: 42px;
  height: 42px;
  background: #6A9CA7;
  border-radius: 50%;
}

.arrows-center ::v-deep>.v-icon--disabled {
  display: none;
}

.arrows-center ::v-deep>.v-slide-group__prev {
  left: -25px;
}

.arrows-center ::v-deep>.v-slide-group__next {
  right: -25px;
}

.arrows-top ::v-deep .v-slide-group__prev--disabled i, 
.arrows-top ::v-deep .v-slide-group__next--disabled i{
  opacity: 0.8;
  background: #19454E;
}

.arrows-top ::v-deep>.v-slide-group__prev {
  right: 48px;
}

.arrows-top ::v-deep>.v-slide-group__next {
  right: -5px;
}
</style>
