<template>
    <v-container class="d-flex align-center justify-center">
        <v-progress-circular indeterminate color="#00E673"></v-progress-circular>
    </v-container>
</template>

<script>
export default {
    name: 'LoadingComponent'
}
</script>
