<template>
    <v-container class="maxWidth">
        <v-img src="@/assets/icons/leftShape.svg" class="leftImage d-none d-md-block" />
        <p class="text-h4 font-weight-bold text-md-h2 text-center">Введите код из SMS</p>
        <p class="text-center text-subtitle-2 text-md-h5 mt-9 mt-md-12 mb-8">6-значный код отправлен на номер<br>
            +7 (123) 456-78-90</p>

        <v-otp-input v-model="otp" length="6" class="justify-center"></v-otp-input>
        <p class="text-md-h5 text-center mt-3 mt-md-4 mb-7 mb-md-12 text-body-1">Не пришёл код? <span class="info--text">Отправить
                снова</span></p>
        <v-btn elevation="0" :disabled="!otp" color="primary" width="100%" height="48"
            class="font-weight-bold text-h5 text-md-h4 mt-12 mt-md-0">
            Продолжить
        </v-btn>
        <v-img src="@/assets/icons/rightShape.svg" class="rightImage d-none d-md-block" />
    </v-container>
</template>

<script>
export default {
name: 'LoginStep2',
data: () => ({
    otp: ''
})
}
</script>

<style scoped>
::v-deep .theme--dark.v-otp-input .v-input .v-input__control .v-input__slot{
  background: #012D2D !important;
  width: 48px;
  height: 60px;
  border-radius: 16px;
}

::v-deep .v-text-field fieldset, .v-text-field .v-input__control{
    border: none;
}

::v-deep .v-otp-input .v-input{
    flex: 0 0 32px !important;
}

.maxWidth {
    @media screen and (min-width: 960px) {
        max-width: 430px;
    }
}

.leftImage {
    position: absolute;
    left: 0;
    top: 20%;
}

.rightImage {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.littleLineHeight {
    @media screen and (min-width: 960px) {
        line-height: 26px !important;
    }
}
</style>