<template>
    <v-container class="maxWidth">
        <v-img src="@/assets/icons/leftShape.svg" class="leftImage d-none d-md-block" />
        <p class="text-h4 font-weight-bold text-md-h2">Введите номер телефона</p>
        <p class="mt-8 mb-2 text-body-1 text-md-subtitle-1">Номер телефона</p>
        <v-text-field v-model="phone" :messages="['Отправим код подтверждения']" background-color="#19454E" flat solo
            height="48" placeholder="+7 (___) ___ __ __" class="rounded-xl" />
        <p class="text-body-1 secondary--text"></p>
        <v-btn elevation="0" :disabled="!phone" color="#15BAAA" width="100%" height="48"
            class="font-weight-bold text-h5 text-md-h4 mt-12">
            Продолжить
        </v-btn>
        <p class="text-center text-body-1 mt-6 text-md-subtitle-1">Нажимая кнопку «Продолжить», вы принимаете условия
            <span class="info--text">Пользовательского
                соглашения</span>
        </p>
        <v-img src="@/assets/icons/rightShape.svg" class="rightImage d-none d-md-block" />
    </v-container>
</template>

<script>
export default {
name: 'LoginStep1',
data: () => ({
    phone: ''
})
}
</script>

<style scoped>
.v-text-field.v-text-field--enclosed .v-text-field__details {
    padding: 0 !important;
}

.maxWidth {
    @media screen and (min-width: 960px) {
        max-width: 430px;
    }
}

.leftImage {
    position: absolute;
    left: 0;
    top: 20%;
}

.rightImage {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.littleLineHeight {
    @media screen and (min-width: 960px) {
        line-height: 26px !important;
    }
}
</style>