<template>
  <v-container class="d-md-flex px-lg-16">
    <div class="col-12 col-sm-6 mx-auto pl-lg-16 py-0">
      <v-sheet color="primary" class="pt-md-11 pb-md-16">
        <h6 class="text-center text-h3 text-md-h2 mb-1">ИП «DEMO»</h6>
        <p class="text-center secondary--text text-body-1 text-md-subtitle-1 mb-9">
          БИН (ИИН): 999999999999
          <br>
          ул. Демонстрационная, 1
        </p>
        <p class="text-center text-uppercase text-subtitle-1 text-md-h3 mb-3">Предварительный чек №021</p>
        <v-divider></v-divider>
        <v-container class="px-md-8">
          <div v-for="i in 2" :key="i">
            <p class="mb-0 text-text-subtitle-1 text-md-h3">{{ i }}. Позиция</p>
            <v-row class="ma-0 justify-space-between">
              <p class="mb-0 text-caption text-body-1 text-md-subtitle-1 secondary--text">1 шт. x 1 250.00 ₸</p>
              <p class="mb-0 text-caption text-body-1 text-md-subtitle-1 secondary--text">1 250.00 ₸</p>
            </v-row>
            <v-row class="ma-0 justify-space-between">
              <p class="mb-0 text-caption text-body-1 text-md-subtitle-1 secondary--text">Стоимость</p>
              <p class="mb-0 text-caption text-body-1 text-md-subtitle-1 secondary--text">1 250.00 ₸</p>
            </v-row>
            <v-divider class="my-3"></v-divider>
          </div>
          <v-row class="ma-0 justify-space-between">
            <p class="text-h3 mb-0 text-md-h2">ИТОГО</p>
            <p class="text-h3 mb-0 text-md-h2">3 750 ₸</p>
          </v-row>
          <v-row class="ma-0 justify-space-between">
            <p class="mb-0 text-body-1 secondary--text text-md-subtitle-1">Наличные</p>
            <p class="mb-0 text-body-1 secondary--text text-md-subtitle-1">3 750 ₸</p>
          </v-row>
        </v-container>
      </v-sheet>
      <div class="wave-bottom"></div>
    </div>
    <div class="d-flex flex-column col-sm-6 py-md-0 pr-lg-16 mx-auto">
      <v-dialog v-model="dialog" width="422" class="rounded-xl">
            <template v-slot:activator="{ on }">
              <v-btn v-on="on" color="#15BAAA" width="100%" elevation="0" height="48" :block="false"
        class="mb-3 rounded-lg text-capitalize text-subtitle-1 mt-5 mt-md-0" style="letter-spacing: 0;"
        @click="dialog = false">
        <div class="d-flex align-center justify-space-between flex-grow-1">
          <div class="d-flex align-center">
            <v-img src="@/assets/icons/selling.svg" class="mr-2" />
            Продажа
          </div>
          <v-icon>mdi-unfold-more-horizontal</v-icon>
        </div>
      </v-btn>
            </template>
            <v-sheet color="background" class="pa-4 rounded-xl">
              <v-row class="justify-end ma-0">
                <v-btn icon @click="dialog = false">
                  <v-icon class="text-h2">mdi-close</v-icon>
                </v-btn>
              </v-row>
              <h5 class="text-sm-h2 text-h4 font-weight-bold text-center">Введите ПИН-код</h5>
              <v-otp-input v-model="otp" length="4" class="justify-center mt-6 mt-md-12"></v-otp-input>
              <p class="text-sm-h5 text-subtitle-2 text-center mb-9">для фискализации</p>
              <v-col class="col-12 col-md-9 col-sm-11 pa-0 d-flex flex-column gap mx-auto pb-5">
          <v-row class="gap ma-0">
            <v-col class="pa-0">
              <v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">7</v-btn>
            </v-col>
            <v-col class="pa-0">
              <v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">8</v-btn>
            </v-col>
            <v-col class="pa-0">
              <v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">9</v-btn>
            </v-col>
          </v-row>
          <v-row class="gap ma-0">
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">6</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">4</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">3</v-btn></v-col>
          </v-row>
          <v-row class="gap ma-0">
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">3</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">2</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">1</v-btn></v-col>
          </v-row>
          <v-row class="gap ma-0">
            <v-col class="pa-0"></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-h5 text-md-h3 btn-glass-effect">0</v-btn></v-col>
            <v-col class="pa-0"><v-btn color="primary" elevation="0" width="100%" min-height="64" height="100%"
                class="rounded-lg text-body-1 btn-glass-effect">
                <v-img max-height="19" max-width="29" src="@/assets/icons/subtract.svg" />
              </v-btn></v-col>
          </v-row>
        </v-col>
            </v-sheet>
          </v-dialog>
      <v-btn to="/qr-payment" color="#00E673" width="100%" elevation="0" height="48" :block="false"
        class="mb-3 rounded-lg font-weight-bold text-subtitle-1 mt-2" style="letter-spacing: 0;">
        Сформировать чек
      </v-btn>

    </div>
  </v-container>
</template>

<script>
export default {
  name: 'PreliminaryCheck',
  data: () => ({
    dialog: false,
    otp: '',
  }),
}
</script>

<style scoped>
.wave-bottom {
  height: 20px;
  background: #326b77;
  --mask:
    radial-gradient(4.24px at 50% calc(100% - 6px), #000 99%, #0000 101%) calc(50% - 6px) 0/12px 100%,
    radial-gradient(4.24px at 50% calc(100% + 3px), #0000 99%, #000 101%) 50% calc(100% - 3px)/12px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

::v-deep .theme--dark.v-otp-input .v-input .v-input__control .v-input__slot{
  background: #012D2D !important;
  width: 48px;
  height: 60px;
  border-radius: 16px;
}

::v-deep .v-text-field fieldset, .v-text-field .v-input__control{
    border: none;
}

::v-deep .v-otp-input .v-input{
    flex: 0 0 32px !important;
}

.btn-glass-effect {
  box-shadow: 0px 1px 1px 0px #FFFFFF33 inset !important;
}

.gap{
  gap: 4px;
}
</style>