<template>
    <v-container class="d-flex flex-column justify-center align-center">
        <h4 class="text-h1">5 750 ₸</h4>
        <div class="my-16 py-4">
            <v-img src="@/assets/icons/qrcode.svg" @click="goToCheck" />
        </div>
        <div class="d-flex flex-column justify-center align-center">
            <v-img src="@/assets/icons/cardpayment.svg" class="mb-5" />
            <p class="text-center secondary--text">Приложите карту <br> или сканируйте QR-код</p>
        </div>
    </v-container>
</template>

<script>
export default {
    name: 'QrPayment',
    data: () => ({
    }),
    methods: {
        goToCheck() {
            this.$router.push('/final-check')
        }
    }
}
</script>