<template>
  <v-carousel v-model="currentSlide" hide-delimiter-background hide-delimiter height="100vh" interval="3000"
    :show-arrows="false" :hide-delimiters="true">
    <v-carousel-item v-for="(story, index) in stories" :key="index" :color="story.backgroundColor"
      class="instagram-slide">
      <v-sheet height="100%">
        <v-icon class="close-icon" @click="close">mdi-close</v-icon>
        <v-sheet height="100%" class="d-flex align-center justify-center img-box">
          <v-img :src="getImage(story.img)" />
        </v-sheet>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  data() {
    return {
      currentSlide: 0,
      stories: [
        { img: 'story' },
        { img: 'story' },
        { img: 'story' },
        { img: 'story' },
        { img: 'story' },
        { img: 'story' },
        { img: 'story' }
      ]
    };
  },
  methods: {
    close() {
      this.$emit('closeStories')
    },
    getImage(img) {
      return require(`../assets/images/${img}.png`)
    },
  }
}
</script>

<style>
.img-box {
  height: 100%;
  aspect-ratio: 1/2;
  margin: auto
}

/* @keyframes instagramSlide {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .instagram-slide {
    animation: instagramSlide 0.5s ease-out;
  } */
.close-icon {
  position: absolute !important;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.v-carousel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
}

.v-window__next,
.v-window__prev {
  height: 100%;
  width: 100px;
  top: 0;
  background: transparent;
  margin: 0;
}

.v-window__next button,
.v-window__prev button {
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
}
</style>