<template>
    <v-toolbar color="primary" elevation="0" height="fit-content"
        class="rounded-bl-xl rounded-br-xl flex-grow-0 py-0 d-none d-md-block">
        <v-container class="d-flex justify-space-between align-center pt-5 pb-4">
            <Logo @click="goToMain"/>
            <div class="d-flex align-center">
                <v-hover v-slot="{ hover }">
                    <router-link to="/"
                        class="text-h4 font-weight-regular mx-5 d-flex align-center text-decoration-none"
                        :class="[($route.path === '/' || hover) && 'active-link']">
                        <v-img height="36" width="36" src="@/assets/icons/home.svg" />
                        <p class="mb-0 ml-1 white--text">Главная</p>
                    </router-link>
                </v-hover>
                <v-hover v-slot="{ hover }">
                    <router-link to="/"
                        class="text-h4 font-weight-regular mx-5 d-flex align-center text-decoration-none"
                        :class="[(hover) && 'active-link']">
                        <v-img height="36" width="36" src="@/assets/icons/sales.svg" />
                        <p class="mb-0 ml-1 white--text">Продажи</p>
                    </router-link>
                </v-hover>
                <v-hover v-slot="{ hover }">
                    <router-link to="/calculator"
                        class="text-h4 font-weight-regular mx-5 d-flex align-center text-decoration-none"
                        :class="[($route.path === '/calculator' || hover) && 'active-link']">
                        <v-img height="36" width="36" src="@/assets/icons/cashregister.svg" />
                        <p class="mb-0 ml-1 white--text">Касса</p>
                    </router-link>
                </v-hover>
                <v-hover v-slot="{ hover }">
                    <router-link to="/"
                        class="text-h4 font-weight-regular mx-5 d-flex align-center text-decoration-none"
                        :class="[(hover) && 'active-link']">
                        <v-img height="36" width="36" src="@/assets/icons/chat.svg" />
                        <p class="mb-0 ml-1 white--text">Чат</p>
                    </router-link>
                </v-hover>
                <v-hover v-slot="{ hover }">
                    <router-link to="/"
                        class="text-h4 font-weight-regular mx-5 d-flex align-center text-decoration-none"
                        :class="[(hover) && 'active-link']">
                        <v-img height="36" width="36" src="@/assets/icons/settings.svg" />
                        <p class="mb-0 ml-1 white--text">Настройки</p>
                    </router-link>
                </v-hover>
            </div>
            <v-menu offset-y>
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" v-on="on" elevation="0" class="text-capitalize font-weight-medium">
                        <p class="text-capitalize font-weight-medium mb-0 text-h4 font-weight-bold">Касса №1</p>
                        <v-icon>mdi-chevron-down</v-icon>
                    </v-btn>
                </template>
                <v-list color="#618B94" class="rounded-lg">
                    <v-list-item v-for="(item, index) in items" :key="index">
                        <v-btn width="160" plain class="justify-start text-h5" :class="[index === 0 && 'active-cashbox']">
                            {{ item.title }}
                            <v-icon v-if="index === 0" class="ml-auto">mdi-check</v-icon>
                        </v-btn>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-container>
    </v-toolbar>
</template>

<script>
import Logo from '@/components/Logo.vue'

export default {
    name: 'TopNavBarDesktop',
    components: {
        Logo,
    },
    data: () => ({
        items: [
            {
                title: 'Касса №1'
            },
            {
                title: 'ИП “Demo”'
            },
        ]
    }),
    methods: {
        goToMain(){
            console.log('kek')
            this.$router.push('/')
        }
    },
}
</script>

<style scoped>
::v-deep .v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-btn__content {
    opacity: 1;
}

.active-cashbox{
    background: #71979F;
}
</style>