<template>
    <v-toolbar color="primary" elevation="0" class="d-block d-md-none rounded-bl-xl rounded-br-xl flex-grow-0">
        <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" v-bind="attrs" v-on="on" elevation="0"
                    class="text-capitalize font-weight-medium">
                    <p class="text-capitalize font-weight-medium mb-0 text-subtitle-1">Касса №1</p>
                    <v-icon> mdi-chevron-down</v-icon>
                </v-btn>
            </template>
            <v-list color="#618B94" class="rounded-lg pa-2">
                    <v-list-item v-for="(item, index) in items" :key="index" min-height="32" class="px-0">
                        <v-btn width="132" plain class="justify-start text-subtitle-2" :class="[index === 0 && 'active-cashbox']">
                            {{ item.title }}
                            <v-icon v-if="index === 0" class="ml-auto">mdi-check</v-icon>
                        </v-btn>
                    </v-list-item>
                </v-list>
        </v-menu>
    </v-toolbar>
</template>

<script>
export default {
    name: 'TopNavBarMobile',
    data: () => ({
        items: [
            {
                title: 'Касса №1'
            },
            {
                title: 'ИП “Demo”'
            },
        ]
    }),
}
</script>

<style scoped>
::v-deep .v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover) .v-btn__content {
    opacity: 1;
}

.active-cashbox{
    background: #71979F;
}
</style>