<template>
  <v-app>
    <TopNavBarDesktop />
    <TopNavBarMobile v-if="hasTopNav" />
    <!-- <CashRegisterNav /> -->
    <v-main class="mt-6 mb-15">
      <router-view />
    </v-main>
    <BottomNavBar v-if="hasBottomNav" class="d-md-none" />
  </v-app>

</template>

<script>
import BottomNavBar from '@/components/BottomNavBar'
import TopNavBarDesktop from '@/components/TopNavBarDesktop.vue'
import TopNavBarMobile from '@/components/TopNavBarMobile.vue'
import CashRegisterNav from '@/components/CashRegisterNav.vue'

export default {
  name: 'App',
  components: {
    BottomNavBar,
    TopNavBarDesktop,
    TopNavBarMobile,
    CashRegisterNav
  },
  computed: {
    hasBottomNav() {
      return this.$route.meta.hasBottomNav ? true : false
    },
    hasTopNav() {
      return this.$route.meta.hasTopNav ? true : false
    }
  },
};
</script>

<style>
.v-btn{
  transition: none;
}
main {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.v-application {
  background-color: var(--v-background-base) !important;
}

#app * {
  font-family: 'MabryPro', sans-serif !important;
}

.active-link {
  filter: brightness(0) saturate(100%) invert(67%) sepia(4%) saturate(1861%) hue-rotate(140deg) brightness(92%) contrast(86%);
}

.v-application p {
  margin-bottom: 0;
}

@media (min-width: 1100px){
  .container{
    max-width: 1050px;
  }
}

@media (min-width: 1200px){
  .container{
    max-width: 1150px;
  }
}

@media (min-width: 1250px){
  .container{
    max-width: 1200px;
  }
}
</style>
